<div ng-include = "'views/templates/topNav.html'"></div>
<div ng-include = "'views/templates/sideNav.html'"></div>
<div col-md-9 recipe-container>
    <div id=recipes>
        <div ng-repeat = "x in recipeResults" class="recipe">
            <a ng-href = "{{x.source_url}}">
                <img ng-src = "{{x.image_url}}">
            </a>
            <div class = "recipe-info">
                <a ng-href="{{x.f2f_url}}">
                    <div class = "recipe-title">{{x.title}}</div>
                </a>
            </div>
            <a class = "favorite-icon" ng-click = "toggleFaved()">
            <i class="fa fa-heart fa-2x"></i>
            </a>
        </div>

    </div>
