<div id="sidebar-wrapper">
    <form name = "addIngred" class = "recipe-inline"  ng-submit = "addIngredient(ingredientSelected)">
        <input type="text" class="recipeControl" name = "searchField" ng-model = "ingredientSelected" placeholder="Enter Ingredient" />
        <button class ="recipeSubmit" type = "submit" ng-click = "resetField">Add</button>
    </form>
    <hr></hr>
    <ul class="sidebar-nav">
        <li class="sidebar-brand"></li>
        <li>
            <div id = "searchRecipe_wrapper">


            </div>
        </li>
        <li>
            <div id "ingredients_wrapper" ng-repeat = "ingredient in selectedIngredientsArr">
                <p>{{ingredient}}</p>
                <button ng-click = "del(ingredient)">X</button>
            </div>
            <button ng-click="clear()">Clear all</button>
        </li>

    </ul>
</div>
 ng-click = "addIngredient(ingredientSelected)
