

<div class = "modal-header">
</div>
<div class = "modal-body">
  <form class = "signInForm" ng-submit = "login() ; closeLoginModal()">
    <div>
      <label for="username">Username:</label>
            <input type="text" ng-model="user.username" />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" ng-model="user.password" />
    </div>
    <div>
      <input class="btn btn-default" type="submit" name="submit" value="Log In" />
      <button ng-click = "openRegg()">Register</button>
      <button ng-click = "closeLoginModal()" >Cancel</button></a>
    </div>
  </form>
</div>
